<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
  <header>
    <a routerLink="/">
      <img src="assets/logo.jpg" alt="Logo" class="logo">
    </a>
  </header>

  <main class="home">
    <div class="intro-card">
      <h1>Welcome to MatchMyBeauty!</h1>
      <p>Discover products tailored just for you.</p>
      <div class="buttons">
        <button routerLink="/quiz" class="start-button">Start Quiz</button>
        <button routerLink="/profile" class="profile-button">Profile</button>
      </div>
    </div>
  </main>
</body>
</html>
