<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home page</title>
        <link rel="stylesheet" href="home.component.css">
    </head>
    <body>
      <header>
        <a [routerLink]="['/']">
            <img src="assets/logo.jpg" alt="Logo" class="logo">
        </a>
    </header>
      <div class="home">
        <p>Welcome!</p>
        <h1>{{ title }}</h1>
        <button routerLink="/quiz" class="start-button">START HERE ></button>
        <button routerLink="/profile" class="profile-button">Profile</button>
      </div>
      
    </body>
</html>
